<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="car_id">Car</label>
          <select id="car_id" required name="car_id" class="btn btn-info dropdown-toggle"  [(ngModel)]="car_id">
            <option *ngFor="let car of cars" [ngValue]="car.id">
              {{ car.mark }}  {{car.model}}
            </option>
          </select>
          <div class="alert-danger" *ngIf="f.submitted && car_id.invalid">
            <div *ngIf="car_id.errors.required">Car is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="idS1">Service</label>
          <select id="idS1" required name="idS1" class="btn btn-info dropdown-toggle"  [(ngModel)]="idS1">
            <option *ngFor="let service of services" [ngValue]="service.id">
              {{ service.name }} 
            </option>
          </select>
          <div class="alert-danger" *ngIf="f.submitted && idS1.invalid">
            <div *ngIf="idS1.errors.required">At least 1 serivce is required</div>
          </div>
        </div>

        <div class="form-group">
            <label for="idS2">Service</label>
            <select id="idS2"  name="idS2" class="btn btn-info dropdown-toggle"  [(ngModel)]="idS2">
              <option [ngValue]=null>none</option>
              <option *ngFor="let service of services" [ngValue]="service.id">
                {{ service.name }} 
              </option>
            </select>
        </div>

        <div class="form-group">
            <label for="idS3">Service</label>
            <select id="idS3" name="idS3" class="btn btn-info dropdown-toggle"  [(ngModel)]="idS3">
              <option [ngValue]=null>none</option>
              <option *ngFor="let service of services" [ngValue]="service.id">
                {{ service.name }} 
              </option>
            </select>
        </div>


        <div class="form-group">
          <button class="btn btn-primary btn-block">Create request</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Request registration is successful!
      </div>
    </div>
  </div>