<div class="container">
  <!--<header class="jumbotron">
    <p>Это странциа с продуктами</p>
    <a class="btn btn-warning" role="button"  routerLink="/productform" >ADD product </a>
  </header> FIXME -->
</div>
<!--<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
      <th>Имя</th>
      <th>Описание</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Картинка</th>
      <th>Количество на складе</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.productCategory.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.img }}</td>
      <td>{{ product.amount_in_warehouse }}</td>
    </tr>
  </tbody>
</table>-->

<div *ngFor="let product of products" class="product-container">
  <div class="product-img-container">
    <div class="product-img">{{ product.img }}</div>
  </div>
  <div class="product">

    <div class="product-name">
      <b>{{ product.name }}</b>
    </div>
    <div class="product-desc">
      {{ product.description }}
    </div>
    <div class="product-price">
      <p>{{ product.price }} ₽</p>
    </div>
    <div class="product-btn-buy">
      <a onClick="" role="button">КУПИТЬ</a>
    </div>

  </div>
</div>
