<div *ngFor="let product of products" class="product-container">
  <div class="product-img-container">
    <div class="product-img">{{ product.img }}</div>
  </div>
  <div class="product">

    <div class="product-name">
      <b>{{ product.name }}</b>
    </div>
    <div class="product-desc">
      {{ product.description }}
    </div>
    <div class="product-price">
      <p>{{ product.price }} ₽</p>
    </div>
    <div class="product-btn-buy" *ngIf="isLoggedIn">
      <form #f="ngForm" novalidate name="form"  (ngSubmit)="onClickBuy(product.id)">
        <div class="form-group">
          <button class="btn btn-danger">КУПИТЬ</button>
        </div>
      </form>
    </div>
  </div>
</div>
