<div class="container">
  <header class="jumbotron">
    <p>Это странциа с продуктами</p>
    <a class="btn btn-warning" role="button"  routerLink="/productform" >ADD product </a>
  </header>
</div>
<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
      <th>Имя</th>
      <th>Описание</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Картинка</th>
      <th>Количество на складе</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.productCategory.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.img }}</td>
      <td>{{ product.amount_in_warehouse }}</td>
    </tr>
  </tbody>
</table>
