<div class="container">
  <header class="jumbotron">
    <p>Requests:</p>
  </header>
</div>

<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
      <th>date</th>
      <th>car</th>
      <th>service1</th>
      <th>service2</th>
      <th>service3</th>
      <th>assept</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{ request.date }}</td>
      <td>{{ request.car.mark }}   {{ request.car.model }}</td>
      <td *ngFor="let service of request.services">{{service.name}}</td>
      <td>
        <form  #f="ngForm" novalidate  name="form" (ngSubmit)="f.form.valid && onSubmit()">
          <input
            id="id_r"
            type="hidden"
            name="id_r"
            [(ngModel)]="id_r"
            [ngValue]="request.id"
          />
          <div class="form-group">
            <button class="btn btn-success">Assept</button>
          </div>
        </form>
      </td>
    </tr>
  </tbody>