<div class="container">
    <header class="jumbotron">
      <p>My requests:</p>
    </header>
  </div>
  
  <table *ngIf="!showPay" class="table table-striped">
    <thead  class="table-dark">
      <tr>
        <th>date</th>
        <th>master</th>
        <th>car</th>
        <th>status</th>
        <th>service1</th>
        <th>service2</th>
        <th>service3</th>
        <th>pay</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.date }}</td>
        <td *ngIf="request.master">{{ request.master.username }}</td>
        <td *ngIf="!request.master">-----</td>
        <td>{{ request.car.mark }}   {{ request.car.model }}</td>
        <td>{{ request.status.name }}</td>
        <td *ngFor="let service of request.services">{{service.name}}</td>
        <td *ngIf="request.status.id==5">
          <form #f="ngForm" novalidate name="form"  (ngSubmit)="onSubmit(request.id)">
              <button class="btn btn-primary">PAY</button>
          </form>
        </td>
      </tr>
    </tbody>
  
  <div>
    <a class="btn btn-primary" role="button"  routerLink="/createRequest" >Create request </a>
  </div>
</table>

<div *ngIf="showPay" >
  CALL PAYMENT SERVICE
</div>